.col-6 { width: 50%; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

body { background-color: #222; color: #fff; }

.row { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: center; justify-content: center; width: 100%; }

header { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: column; flex-direction: column; }

header .header__title { font-family: 'ZCOOL KuaiLe', cursive; font-size: 3em; }

header .col-6 { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; }

header .score, header .score__whowin, header .score__comp, header .scoreleft__comp, header .score__player, header .scoreleft__player { width: 200px; height: 50px; background-color: #fff; color: #222; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; }

header .score__whowin { color: #222; }

.game__container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; width: 100%; height: 500px; }

.game__container .player-1 { text-align: center; }

.game__container .stone-1, .game__container .scissors-1, .game__container .paper-1 { width: 200px; height: 50px; background-color: #2e5266; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; margin: 20px; border-radius: 10%; }

.player-2 { text-align: center; }

.choice { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: row; flex-direction: row; }

.stone-2, .scissors-2, .paper-2 { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; color: #222; border-radius: 10%; width: 200px; height: 50px; background-color: #d3d0cb; margin: 20px; }

.game__start { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; }

.game__start .game__start__button { width: 300px; height: 200px; background-color: #2e5266; color: #fff; font-size: 3em; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.overlay.show { display: block; }

.modal { display: none; position: relative; background: #fff; width: 40%; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); }

.modal .modal-header { color: #222; font-size: 2em; }

.modal.show { display: block; }

.modal #winner { color: #222; }

.modal table { width: 100%; }

.modal th { color: #222; }

.modal .close { transform: rotate(45deg); font-weight: bold; font-size: 1.5em; transition: font-size 1s; color: #222; position: absolute; right: 5px; top: 5px; }

.modal .close:hover { font-size: 1.6em; cursor: pointer; }

.modal tbody { color: #222; width: 100%; text-align: center; }
